.wrapper {
  position: relative;
  transform-style: preserve-3d;
  line-height: 0;
  width: 100%;

  & > svg {
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);

    &:last-child {
      right: 0;
      margin-right: var(--spacing-default);
    }
  }
}

.input {
  background-color: var(--color-base);
  background-image: none;
  border: var(--border-width-thick) solid var(--color-text-default);
  box-shadow: none;
  color: var(--color-text-default);
  font-family: inherit;
  font-size: var(--text-size-default);
  font-weight: var(--font-weight-bold);
  height: 4.2rem;
  margin: 0;
  padding: {
    left: var(--spacing-md);
    right: var(--spacing-lg);
  }
  width: 100%;

  &:focus {
    outline: none;
  }

  &::placeholder {
    opacity: 1;
    color: var(--color-text-default);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family);
    text-transform: uppercase;
  }
}

.warning {
  border-color: var(--color-warning);
}
