.item {
  align-items: center;
  border-bottom: var(--border-width-thin) solid var(--color-border);
  cursor: pointer;
  display: flex;
  font-size: var(--text-size-md);
  justify-content: space-between;
  margin: 0 var(--spacing-default);
  padding: var(--spacing-sm) 0;

  &:last-child {
    border-bottom: 0;
  }

  &:hover,
  &:focus {
    background-color: var(--color-text-hover);
  }
}

.startLabel {
  font-style: normal;
  font-weight: var(--font-weight-bold);
}

.text {
  display: inline-block;
  margin: 0;
  font-size: var(--text-size-sm);
}

.endLabel {
  @extend .startLabel;
  color: var(--color-danger);
}

.isActive {
  background-color: var(--color-text-hover);
}
