.list {
  border: var(--border-width-thick) solid var(--color-border);
  border-top: 0;
  display: block;
  font-family: inherit;
  list-style-type: none;
  left: 0;
  margin: 0;
  min-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  width: 100%;
  top: 100%;
  z-index: 10;
  position: absolute;
}
