:root {
  --color-background: #fff;
  --color-base: #eee;
  --color-mid: #676767;
  --color-text-default: #272727;
  --color-text-hover: #fffde6;
  --color-text-focus: var(--color-text-hover);
  --color-form-placeholder: var(--color-mid);
  --color-success: #32d296;
  --color-warning: #f0bb50;
  --color-danger: #f0506e;
}
