:root {
  --font-weight-light: 300;
  --font-weight-default: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 700;
  --line-height-text-default: 1.6;
  --line-height-text-alt: 1;
  --text-size-xs: 1.2rem;
  --text-size-sm: 1.4rem;
  --text-size-md: 1.6rem;
  --text-size-lg: 2rem;
  --text-size-xl: 2.4rem;
  --text-size-2xl: 3.2rem;
  --text-size-3xl: 4rem;
}
