:root {
  --font-family: Arial, sans-serif;
  --font-weight-default: 400;
  --font-weight-bold: 700;
  --line-height-text-default: 1.6;
  --line-height-text-alt: 1;
  --text-size-xs: 1.2rem;
  --text-size-sm: 1.4rem;
  --text-size-md: 1.6rem;
  --text-size-lg: 2rem;
}
